@import "./stylesheet.css";
@import "./media.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.6s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.grid__2fr {
  grid-template-columns: 1fr 1fr;
}
.grid__3fr {
  grid-template-columns: repeat(3, 1fr);
}
.grid__4fr {
  grid-template-columns: repeat(4, 1fr);
}

.section__side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F46752;
}
.section__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #1D253C;
}
.section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #5A6482;
}
.section__link {
  display: inline-block;
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
}
.section__arrow {
  display: flex;
  align-items: center;
}
.section__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
  border-radius: 5px;
}

.btn-hollow {
  width: 161px;
  height: 44px;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.btn-hollow:hover {
  color: #FFFFFF;
  background: #F46752;
  border: 1px solid #F46752;
}
.btn-orange {
  width: 220px;
  height: 61px;
  color: #FFFFFF;
  background: #F46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.btn-orange svg {
  margin-left: 6px;
  fill: #FFFFFF;
  transition: all 0.6s ease;
}
.btn-orange:hover {
  color: #F46752;
  background: none;
}
.btn-orange:hover svg {
  fill: #F46752;
}

.animation__aquamarine {
  position: relative;
}
.animation__aquamarine:before {
  content: "";
  position: absolute;
  top: 22.5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background: #007188;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.animation__aquamarine:hover {
  color: #007188;
}
.animation__aquamarine:hover:before {
  opacity: 1;
}

.header {
  height: 35px;
  padding: 35px 0;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header__container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__side {
  display: flex;
  align-items: center;
}
.header__link {
  margin-left: 35px;
}
.header .btn-hollow {
  font-weight: 600;
}
.header__log-in {
  margin-left: 0;
  margin-right: 39px;
}

.hero {
  height: 100vh;
  background-image: url("../images/hero/hero_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 17px;
}
.hero__container {
  height: calc(100vh - 223px);
  padding-top: 223px;
  padding-left: 106px;
}
.hero__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #F46752;
}
.hero__title {
  width: 463px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  text-transform: capitalize;
  color: #1D253C;
}
.hero__text {
  width: 411px;
  margin: 26px 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #5A6482;
}

.affordable {
  padding: 85px 0 84px;
  background: #F9F5F2;
}
.affordable .section__side:nth-child(2) {
  padding-left: 94px;
}
.affordable .section__title {
  margin: 26px 0 19px;
  font-weight: 600;
}
.affordable .section__arrow {
  margin-top: 32px;
}
.affordable .section__link {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.affordable__frame {
  width: 500px;
  height: 436px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.affordable__note {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5A6482;
}
.affordable__note span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F46752;
}

.help {
  padding: 148px 0 164px;
  background: #FFFFFF;
}
.help .section__side:nth-child(1) {
  padding-right: 67px;
}
.help .section__title {
  margin: 27px 0 35px;
  font-size: 45px;
}
.help .section__arrow {
  margin-top: 15px;
}
.help .section__card {
  position: absolute;
  left: -60px;
  bottom: -25px;
  z-index: 2;
  width: 326px;
  height: 67px;
}
.help__frame {
  position: relative;
}
.help__frame svg {
  position: absolute;
  top: -35px;
  left: -45px;
  z-index: 0;
}
.help img {
  position: relative;
  z-index: 1;
}
.help__prompt {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #1D253C;
}

.safe {
  position: relative;
  padding: 91px 0 85px;
  background: #F8F8F8;
}
.safe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.safe__frame {
  position: absolute;
  top: -110px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.safe .section__title {
  margin: 30px 0 37px;
  font-size: 43px;
}
.safe .section__text {
  margin-bottom: 41px;
  text-align: center;
  width: 1077px;
}
.safe .grid {
  width: 100%;
  grid-column-gap: 70px;
}
.safe__card {
  height: 310px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.safe__card:nth-child(1) {
  background-image: url("../images/safe/safe_card1_img.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70px;
}
.safe__card:nth-child(1) .safe__content {
  margin-top: 5px;
  width: 212px;
  font-size: 12px;
}
.safe__card:nth-child(1) .safe__content span {
  text-decoration-line: underline;
  color: #1D253C;
}
.safe__card:nth-child(2) {
  background-image: url("../images/safe/safe_card2_img.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 30px;
}
.safe__card:nth-child(2) .safe__content {
  margin-top: 15px;
  width: 247px;
  font-size: 11px;
}
.safe__card:nth-child(3) {
  background-image: url("../images/safe/safe_card3_img.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 44px;
}
.safe__card:nth-child(3) .safe__content {
  margin-top: 10px;
  width: 244px;
  font-size: 16px;
}
.safe__headline {
  margin-top: 155px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #1D253C;
}
.safe__content {
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: #5A6482;
}

.insurance {
  padding: 120px 101px;
  background: #363839;
}
.insurance .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insurance .section__desc {
  font-weight: 500;
}
.insurance .section__title {
  margin: 26px 0 15px;
  color: #FFFFFF;
}
.insurance .section__text {
  width: 731px;
  text-align: center;
  color: #ACB4BF;
}
.insurance .grid {
  position: relative;
  width: 100%;
  margin-top: 63px;
}
.insurance .grid svg {
  position: absolute;
}
.insurance__headline {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.insurance__content {
  width: 234px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ACB4BF;
}
.insurance__card {
  padding-top: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.insurance__card svg {
  position: absolute;
  z-index: -1;
}
.insurance__card:nth-child(1) {
  background-image: url("../images/insurance/insurance_number-1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 4px;
}
.insurance__card:nth-child(1) svg {
  top: 24px;
  left: 185px;
}
.insurance__card:nth-child(2) {
  background-image: url("../images/insurance/insurance_number-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
}
.insurance__card:nth-child(2) svg {
  top: 24px;
  left: 160px;
}
.insurance__card:nth-child(3) {
  background-image: url("../images/insurance/insurance_number-3.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}
.insurance__card:nth-child(3) svg {
  top: 10px;
  left: 163px;
}
.insurance__card:nth-child(3) .insurance__content {
  width: 256px;
}
.insurance__confetti:nth-of-type(1) {
  position: absolute;
  right: 0;
  left: 0;
  top: 16px;
  margin: 0 auto;
}
.insurance__confetti:nth-of-type(2) {
  position: absolute;
  bottom: 100px;
  left: 933px;
}
.insurance .btn-orange {
  margin-top: 32px;
}

.free {
  padding: 148px 0 164px;
  background: #F9F5F2;
}
.free .section__side:nth-child(2) {
  padding-left: 95px;
}
.free .section__frame {
  position: relative;
}
.free .section__frame svg {
  position: absolute;
  top: -35px;
  left: -45px;
  z-index: 0;
}
.free .section__frame img {
  position: relative;
  z-index: 1;
}
.free .section__card {
  position: absolute;
  right: 44px;
  bottom: -25px;
  z-index: 2;
  width: 307px;
  height: 50px;
}
.free .section__card .free__prompt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #1D253C;
}
.free .section__title {
  margin: 30px 0 24px;
}
.free .section__text {
  font-family: "Roboto", sans-serif;
  margin-bottom: 23px;
}
.free .section__link {
  color: #007189;
}

.features {
  padding: 160px 0 133px;
  background: #FFFFFF;
}
.features .grid {
  grid-column-gap: 20px;
}
.features__headline {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
}
.features__content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5A6482;
}
.features__link {
  display: inline-block;
  margin-right: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.features__card {
  height: 323px;
  padding: 40px 0 35px 22px;
  box-sizing: border-box;
}
.features__card:nth-child(1) {
  background: rgba(169, 216, 255, 0.3);
}
.features__card:nth-child(1) .features__headline,
.features__card:nth-child(1) .features__link {
  color: #7CAFDD;
}
.features__card:nth-child(2) {
  background: rgba(255, 174, 104, 0.3);
}
.features__card:nth-child(2) .features__headline,
.features__card:nth-child(2) .features__link {
  color: #E79751;
}
.features__card:nth-child(2) .features__headline {
  width: 153px;
}
.features__card:nth-child(3) {
  background: rgba(250, 82, 64, 0.3);
}
.features__card:nth-child(3) .features__headline,
.features__card:nth-child(3) .features__link {
  color: #FA5240;
}
.features__card:nth-child(4) {
  background: rgba(18, 111, 133, 0.3);
}
.features__card:nth-child(4) .features__headline,
.features__card:nth-child(4) .features__link {
  color: #126F85;
}
.features__card:nth-child(4) .features__headline {
  width: 186px;
}
.features__block {
  height: 146px;
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community {
  position: relative;
  padding: 107px 0 85px;
  background: #E5F3FE;
}
.community .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community .section__frame:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 64px;
}
.community .section__frame:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 252px;
}
.community .section__title {
  font-weight: 600;
}
.community .section__text {
  margin: 8px 0 39px;
  color: #676562;
}

/*# sourceMappingURL=newstyle.css.map */
