@import "./stylesheet.css";
@import "./media.css";

$colorOrange: #F46752;
$colorAquamarine: #007188;
$colorTurquoise: #126F86;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all .6s ease;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
.grid {
  display: grid;
  &__2fr {
    grid-template-columns: 1fr 1fr;
  }
  &__3fr {
    grid-template-columns: repeat(3, 1fr);
  }
  &__4fr {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section {
  &__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__desc {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $colorOrange;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
  &__link {
    display: inline-block;
    margin-right: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $colorTurquoise;
  }
  &__arrow {
    display: flex;
    align-items: center;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
  }
}
.btn {
  &-hollow {
    width: 161px;
    height: 44px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    &:hover {
      color: #FFFFFF;
      background: $colorOrange;
      border: 1px solid $colorOrange;
    }
  }
  &-orange {
    width: 220px;
    height: 61px;
    color: #FFFFFF;
    background: $colorOrange;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    svg {
      margin-left: 6px;
      fill: #FFFFFF;
      transition: all .6s ease;
    }
    &:hover {
      color: $colorOrange;
      background: none;
      svg {
        fill: $colorOrange;
      }
    }
  }
}
.animation {
  &__aquamarine {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 22.5px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      background: $colorAquamarine;
      opacity: 0;
      transition: all .3s ease-out;
    }
    &:hover {
      color: $colorAquamarine;
      &:before {
        opacity: 1;
      }
    }
  }
}

// HEADER
.header {
  height: 35px;
  padding: 35px 0;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  &__container {
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__side {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-left: 35px;
    &:last-child {
    }
  }
  .btn-hollow {
    font-weight: 600;
  }
  &__log-in {
    margin-left: 0;
    margin-right: 39px;
  }
}

// HERO
.hero {
  height: 100vh;
  background-image: url("../images/hero/hero_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 17px;
  &__container {
    //height: inherit;
    height: calc(100vh - 223px);
    padding-top: 223px;
    padding-left: 106px;
  }
  &__desc {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: $colorOrange;
  }
  &__title {
    width: 463px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;
    color: #1D253C;
  }
  &__text {
    width: 411px;
    margin: 26px 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482;
  }
}

// AFFORDABLE
.affordable {
  padding: 85px 0 84px;
  background: #F9F5F2;
  .section {
    &__side:nth-child(2) {
      padding-left: 94px;
    }
    &__title {
      margin: 26px 0 19px;
      font-weight: 600;
    }
    &__arrow {
      margin-top: 32px;
    }
    &__link {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
    }
  }
  &__frame {
    width: 500px;
    height: 436px;
    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    //object-position: center;
    img {
      //position: relative;
      //left:0;
      //right:0;
      //top:0;
      //bottom:0;
      //margin: auto;
      //object-position: 50% 50%;
      //object-position: center center;
      //width: 100%;
      //height: 100%;
    }
  }
  &__note {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    span {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $colorOrange;
    }
  }
}

// HELP
.help {
  padding: 148px 0 164px;
  background: #FFFFFF;
  .section {
    &__side:nth-child(1) {
      padding-right: 67px;
    }
    &__title {
      margin: 27px 0 35px;
      font-size: 45px;
    }
    &__arrow {
      margin-top: 15px;
    }
    &__card {
      position: absolute;
      left: -60px;
      bottom: -25px;
      z-index: 2;
      width: 326px;
      height: 67px;
    }
  }
  &__frame {
    position: relative;
    svg {
      position: absolute;
      top: -35px;
      left: -45px;
      z-index: 0;
    }
  }
  img {
    position: relative;
    z-index: 1;
  }
  &__prompt {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
  }
}

// SAFE
.safe {
  position: relative;
  padding: 91px 0 85px;
  background: #F8F8F8;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__frame {
    position: absolute;
    top: -110px;
    right: 0;
    left: 0;
    margin: 0 auto;

    display: flex;
    justify-content: center;
  }
  .section {
    &__title {
      margin: 30px 0 37px;
      font-size: 43px;
    }
    &__text {
      margin-bottom: 41px;
      text-align: center;
      width: 1077px;
    }
  }
  .grid {
    width: 100%;
    grid-column-gap: 70px;
  }
  &__card {
    height: 310px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(1) {
      background-image: url("../images/safe/safe_card1_img.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 70px;
      .safe__content {
        margin-top: 5px;
        width: 212px;
        font-size: 12px;
        span {
          text-decoration-line: underline;
          color: #1D253C;
        }
      }
    }
    &:nth-child(2) {
      background-image: url("../images/safe/safe_card2_img.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 30px;
      .safe__content {
        margin-top: 15px;
        width: 247px;
        font-size: 11px;
      }
    }
    &:nth-child(3) {
      background-image: url("../images/safe/safe_card3_img.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 44px;
      .safe__content {
        margin-top: 10px;
        width: 244px;
        font-size: 16px;
      }
    }
  }
  &__headline {
    margin-top: 155px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #1D253C;
  }
  &__content {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
    color: #5A6482;
  }
}

// INSURANCE
.insurance {
  padding: 120px 101px;
  background: #363839;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section {
    &__desc {
      font-weight: 500;
    }
    &__title {
      margin: 26px 0 15px;
      color: #FFFFFF;
    }
    &__text {
      width: 731px;
      text-align: center;
      color: #ACB4BF;
    }
  }
  .grid {
    position: relative;
    width: 100%;
    margin-top: 63px;
    svg {
      position: absolute;
    }
  }
  &__headline {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  &__content {
    width: 234px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ACB4BF;
  }
  &__card {
    padding-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    svg {
      position: absolute;
      z-index: -1;
    }
    &:nth-child(1) {
      background-image: url("../images/insurance/insurance_number-1.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 4px;
      svg {
        top: 24px;
        left: 185px;
      }
    }
    &:nth-child(2) {
      //background-color: #a23b2d;
      background-image: url("../images/insurance/insurance_number-2.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 10px;
      svg {
        top: 24px;
        left: 160px;
      }
    }
    &:nth-child(3) {
      background-image: url("../images/insurance/insurance_number-3.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      svg {
        top: 10px;
        left: 163px;
      }
      .insurance__content {
        width: 256px;
      }
    }
  }
  &__confetti {
    &:nth-of-type(1) {
      position: absolute;
      right: 0;
      left: 0;
      top: 16px;
      margin: 0 auto;
    }
    &:nth-of-type(2) {
      position: absolute;
      bottom: 100px;
      left: 933px;
    }
  }
  .btn-orange {
    margin-top: 32px;
  }
}

//FREE
.free {
  padding: 148px 0 164px;
  background: #F9F5F2;
  .section {
    &__side {
      &:nth-child(2) {
        padding-left: 95px;
      }
    }
    &__frame {
      position: relative;
      svg {
        position: absolute;
        top: -35px;
        left: -45px;
        z-index: 0;
      }
      img {
        position: relative;
        z-index: 1;
      }
    }
    &__card {
      position: absolute;
      right: 44px;
      bottom: -25px;
      z-index: 2;
      width: 307px;
      height: 50px;
      .free__prompt {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        color: #1D253C;
      }
    }
    &__title {
      margin: 30px 0 24px;
    }
    &__text {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 23px;
    }
    &__link {
      color: #007189;
    }
  }
}

//FEATURES
.features {
  padding: 160px 0 133px;
  background: #FFFFFF;
  .grid {
    grid-column-gap: 20px;
  }
  &__headline {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
  }
  &__content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
  }
  &__link {
    display: inline-block;
    margin-right: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  &__card {
    height: 323px;
    padding: 40px 0 35px 22px;
    box-sizing: border-box;
    &:nth-child(1) {
      background: rgba(169, 216, 255, 0.3);
      .features__headline,
      .features__link {
        color: #7CAFDD;
      }
    }
    &:nth-child(2) {
      background: rgba(255, 174, 104, 0.3);
      .features__headline,
      .features__link {
        color: #E79751;
      }
      .features__headline {
        width: 153px;
      }
    }
    &:nth-child(3) {
      background: rgba(250, 82, 64, 0.3);
      .features__headline,
      .features__link {
        color: #FA5240;
      }
    }
    &:nth-child(4) {
      background: rgba(18, 111, 133, 0.3);
      .features__headline,
      .features__link {
        color: #126F85;
      }
      .features__headline {
        width: 186px;
      }
    }
  }
  &__block {
    height: 146px;
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

//COMMUNITY

//TOP-FOOTER

//BOTTOM-FOOTER